# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\C\Downloaded&School\1.Ecutbildning\MVT20\07 ProgrammeringFörTestare\ClassBasicDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
